$menu-bg:         #2d323e
$menu-text:       #c0c2c5
$toggle-content:  #282c37
$activeLink:      #c02d2e

@mixin rotate($rayon)
    transform: rotate($rayon)

*
    box-sizing: border-box
    transition: all 0.2s

    header
        min-height: 64px

        md-icon
            width: 100%
            min-height: 64px
            padding: .6rem
            color: $activeLink

    md-sidenav
        background-color: $menu-bg
        color: $menu-text
        transition: all 0.2s

        a
            color: $menu-text
            text-decoration: none

        .toggle:not(:first-child)
            background-color: $toggle-content

        .openList
            background-color: $toggle-content

        .headList
            cursor: pointer !important

        header img
          width: 100%
          padding: 0
          //padding: 0 20% 0 20%

    md-sidenav > md-list
        overflow: auto

    md-list
        padding: 0

    md-list-item > button
        padding: 0 !important

        > div
            > span
                padding-left: 16px
            .md-toggle-icon
                padding-right: 16px
            width: 100%
            > a
                width: 100%
                padding: 0px 16px


    .fullheight
        height: 100% !important

    md-icon
        transition: all 0.3s

        &.darker
          color: $menu-bg !important

    //menu-toggle
        position: relative
        padding: 0px 16px
        -webkit-flex: 1 1 auto
        justify-content: flex-start
        -webkit-align-items: center
        -ms-flex-align: center
        align-items: center
        min-height: 48px
        height: auto
        cursor: pointer


    .activeLink
        background-color: $activeLink

    club-card
        min-width: 20rem


    .rotateP180
        @include rotate(-180deg)

    .nopadding
        padding: 0

    #footer
        align-self: flex-end
        padding: 16px 32px
        width: 100%
        text-align: left
        font-size: small
        border-top: 1px solid rgb(221, 221, 221)

.animate
  .ng-enter, .ng-leave

.pull-right
  float: right

//////////////////////////////////////////////////////////
//                      In dev                          //
//////////////////////////////////////////////////////////

.toggle
    transition-duration: 2s
    white-space: nowrap

.noHeight
    height : 0px
    transition-duration: 2s
    overflow : hidden


// Animation des menu et pour tout les ng-repeat en général
/*.animate
    .ng-enter, .ng-leave
        -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
        -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
        -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
        -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
        transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
        position: relative
        display: block

    .ng-leave.ng-leave-active, .ng-enter
        -webkit-transform: scaleY(0)
        -moz-transform: scaleY(0)
        -ms-transform: scaleY(0)
        -o-transform: scaleY(0)
        transform: scaleY(0)
        height: 0px
        opacity: 0

    .ng-enter.ng-enter-active, .ng-leave
        -webkit-transform: scaleY(1)
        -moz-transform: scaleY(1)
        -ms-transform: scaleY(1)
        -o-transform: scaleY(1)
        transform: scaleY(1)
        height: 30px
        opacity: 1*/
