md-card
    md-card-header
        md-card-header-text
          span.md-title {{ contact.user_firstname | firstLetterUppercase}} {{ contact.user_name | firstLetterUppercase}}
          md-chips(readonly="true" ng-model="contact.roles")

    img.md-card-image(
            ng-src="TODOsrc"
            onerror="this.src='images/blank.jpg'"
            alt='imageUser')



    md-card-title
        md-card-title-text
            span.md-headline {{ contact.user_mail }}
            span.md-headline {{ contact.phone }}
