md-dialog

    md-toolbar
        .md-toolbar-tools
            h2 {{project.project_type}}


    md-content( flex="100" layout-padding )


        h5 Diminutif de : {{project.project_description.title}}

        h5 Description
        p {{project.project_description.objectif}}

        h5 Exemple(s):
        p {{project.project_description.exemple}}

        h5 Quotas d'heures :
        p {{project.project_description.quota}}

        h5 Evaluation :
        p {{project.project_description.eval}}


    md-dialog-actions(layout='row')
        md-button(ng-click="close()") OK
