md-dialog
    md-content( flex="100" layout-padding )
        p.
            Capisen effectue un recrutement qui lui est
            spécifique.
        p.
            Les phases de recrutement débutent
            généralement fin Avril voir début Mai.
            <br> Toutes les
            informations concernant le recrutement vous seront
            décernées en temps voulu, notamment via les supports
            de communication ou lors du passage annuel dans les classes.
        p
            | Pour plus d’informations n’hésites pas à nous contacter
            | à l’adresse mail
            a(href="mailto:contact@capisen.fr") contact@capisen.fr
            | , via Facebook ou Twitter.
            | Enfin n’hésites pas à venir nous voir au local
            | (porte bleue dans l’aile des clubs), une permanence y est
            |effectuée chaque midi.
        p En espérant te retrouver bientôt pour le recrutement !
    md-dialog-actions(layout='row')
        md-button(ng-click="closeDialog()") OK
