md-input-container
    label Rechercher un membre ou fonction
    input( type='text' ng-model='search')

md-button(ng-click="clearValue()" ng-disabled="!search" style="margin-right: 20px;") Effacer

md-content.md-padding( layout-xs="column" layout="row" layout-wrap)
    contact-card(
        flex="30"
        flex-xs="100"
        contact="contact"
        ng-repeat="contact in contacts | orderBy : 'user_name' | filter: search"
    )
