md-dialog
    md-content( flex="100" layout-padding )
        p. Pour postuler,
            Présentez vous au local de Capisen
            (porte rouge à droite dans l'aile des clubs)
    md-dialog-actions(layout='row')
        md-button(ng-click="") OK
