//
   Created by rcd18 on 09/05/2016.

md-content
    md-list
        md-subheader Mes clubs
        md-list-item.md-5-line
            img( src="images/blank.jpg" class="md-avatar" alt="Logo club" )
            div.md-list-item-text( layout="column" )
                h3 Club elec
                h4 3 membres
            md-divider

        md-list-item.md-5-line
            img( src="images/blank.jpg" class="md-avatar" alt="Logo club" )
            div.md-list-item-text( layout="column" )
                h3 Club elec
                h4 3 membres
            md-divider

