footer.layout-align-center-center.layout-row.flex-noshrink( layout="row" flex="noshrink" layout-align="center center")
  #license-footer.ng-binding.flex(flex='')
    | Copyright ©2016 
    a.md-accent(href='http://www.isen.fr/brest/') ISEN Brest
