md-content
    h1 Dossiers de passation précédents

    md-list
        md-list-item( ng-repeat="file in passations | orderBy: 'year': true" )
            md-list-item-text
                p {{file.year}} {{file.name}}
            a.md-button.md-secondary.md-raised.md-primary(
                ng-href='../../api/club/{{clubId}}/passations/{{file.year}}' ) Telecharger


