md-content.md-padding( layout-xs="column" layout="row" )

    div
        md-subheader Informations sur les différents projets

        md-button.md-fab.md-mini.md-primary(
            ng-repeat="project in projects"
            ng-click="openDialog(project)")
            | {{project.project_type}}

    span.flex
    md-input-container
        label Recherche de clubs
        input( type='text' ng-model='search')

    div(layout="column")
        md-button(ng-click="clearValue()" ng-disabled="!search" style="margin-right: 20px;") Effacer

md-content.md-padding( layout-xs="column" layout="row" layout-wrap)

    md-card( ng-if='!clubs' )
        p
            | Rien ne s'affiche ? Avez-vous pensé à vous connecter sur l'
            a( href="https://web.isen-bretagne.fr" ) ENT
            | ?
    club-card(
        club='club'
        ng-repeat="club in clubs | orderBy: 'club_name' | club: search"
    )
