md-card
    md-card-content
        p.
            Vous allez pouvoir faire votre choix de recrutement pour l'année prochaine ({{year}}/{{year + 1}}).
        p.
            Cette validation ne sera possible qu'une seul fois. Pour toutemodification
            ultérieur vous devrez vous référer à un administrateur (équipe FHS).

form( name='choiceprez' ng-submit='giveMark()' layout-padding)
            div(layout="row")
                span(flex="75") Personnes ayant demandé un recrutement
                span.align-left(flex="25" layout-align="center center") Validation

            div(  layout="row")
                md-list(flex="100")
                    md-list-item.inset

                        img.md-avatar(src='1' onerror="this.src='images/blank-person.png'")
                        p bullshit

                        md-switch.md-warm(ng-model = "true")
