div.fullheight( layout="column" ng-controller="sidenavCtrl")
  md-sidenav.fullheight( class="md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print="hide-print" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1")
    md-toolbar.md-tall.md-hue-2
      span(flex='')
      .md-toolbar-tools-bottom.inset(layout='column')
        img(src='https://material.angularjs.org/latest/img/icons/angular-logo.svg', alt='')
    md-list
      md-item(ng-repeat='item in menu')
        a
          md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
            .inset
              ng-md-icon(icon='{{item.icon}}')
              | s
            .inset
              | {{item.title}}
      md-divider
      md-subheader Management
      md-item(ng-repeat='item in admin')
        a
          md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
            .inset
              ng-md-icon(icon='{{item.icon}}')
            .inset
              | {{item.title}}