md-toolbar.md-hue-2(ng-controller="toolbarCtrl")
  .md-toolbar-tools
    md-button.md-icon-button( ng-click="toggleSidenav('left')" hide-gt-md)
      md-icon( aria-label="Menu" class="material-icons") menu
    h2
      span my Page Title
