doctype html
html( lang="fr" )
    head
        meta( charset="UTF-8" )
        meta( http-equiv="Content-Type" content="text/html; charset=utf-8" )
        meta( http-equiv="Default-style" content="text/css; charset=utf-8" )
        title Title
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0" )

        // Injecteur de Gulp
        // inject:css
        // endinject

        link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" )
        link( rel="stylesheet" type="text/css" href="libs/angular-material-icons/angular-material-icons.css" )
        link( rel="stylesheet" type="text/css" href="libs/angular-material/angular-material.css")
        link( rel="stylesheet" type="text/css" href="libs/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" )

        link( rel="stylesheet" type="text/css" href="styles/main.css")
        link( rel="stylesheet" type="text/css" href="styles/toolbar.css")
    body( data-ng-app="app" layout="" )


        div( data-ng-include = "'views/sidenav.html'" class="fullheight")

        md-content( md-scroll-y layout='column' flex)
            div( data-ng-include = "'views/toolbar.html'")
            div( data-ng-view layout-padding flex='noshrink')
            //on charge la vue ici
            div( data-ng-include = "'views/footer.html'")

        script( type="text/javascript" src="libs/angular/angular.js" )
        script( type="text/javascript" src="libs/angular-sanitize/angular-sanitize.js" )
        script( type="text/javascript" src="libs/angular-material-icons/angular-material-icons.js" )
        script( type="text/javascript" src="libs/angular-aria/angular-aria.js" )
        script( type="text/javascript" src="libs/angular-route/angular-route.js" )
        script( type="text/javascript" src="libs/angular-animate/angular-animate.js" )
        script( type="text/javascript" src="libs/angular-material/angular-material.js" )
        script( type="text/javascript" src="libs/angular-messages/angular-messages.js")
        script( type="text/javascript" src="libs/angular-crumble/crumble.js")
        script( type="text/javascript" src="libs/lf-ng-md-file-input/dist/lf-ng-md-file-input.js" )
        // Injecteur de Gulp
        // inject:js
        // endinject
