doctype html
html( lang="fr" )
    head
        meta( charset="UTF-8" )
        title Title
        
        // Injecteur de Gulp
        // inject:css 
        // endinject 
    body( data-ng-app="app" )
    
        div( data-ng-view )
        
        script( type="text/javascript" src="libs/angular/angular.js" )
        script( type="text/javascript" src="libs/angular-aria/angular-aria.js" )
        script( type="text/javascript" src="libs/angular-route/angular-route.js" )
        script( type="text/javascript" src="libs/angular-animate/angular-animate.js" )
        script( type="text/javascript" src="libs/angular-material/angular-material.js" )
        
        // Injecteur de Gulp
        // inject:js 
        // endinject 